*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  margin: 0;
}

#splash-main {
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -8px;
  width: 100vw;
  text-align: center;
  background-image: url("./images/constructBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#splash-red-triangle {
  width: 75px;
  margin: 0 auto;
}


#splash-headline>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0;
  color: white;
  margin-bottom: 0;
}

#splash-headline>ul>li>* {
  margin: 0;
}

#splash-star {
  width: 200px;
}

#headline {
  font-size: 55px;
  padding: 25px 0;
}

#headline-field {
  font-size: 35px;
  font-weight: lighter;
  padding-bottom: 75px;
}

#headline-phone {
  font-size: 45px;
  color: #cc4c33;
}

#headline-start-btn {
  border: solid 1px white;
  color: white;
  background-color: #243644;
  margin-top: 10px !important;
  padding: 15px;
  width: 200px;
  cursor: pointer;
}

li {
  list-style: none;
}

#banner {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #cc4c33;
  margin-left: -8px;
  width: 100vw;
  min-height: 200px;
}


#banner>ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: white;
  margin: 0 auto;
  text-align: ceneter;
}

#banner>ul>li:first-child {
  font-size: 30px;
  font-weight: lighter;
}

#banner>ul>li:nth-child(n + 2) {
  font-size: 45px;
}

#banner>ul>li:nth-child(n + 3) {
  font-size: 25px;
  align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  #splash-red-triangle {
    width: 37.5px;
  }

  #splash-star {
    height: 100px;
  }

  #headline {
    font-size: 2em;
  }

  #headline-field {
    font-size: 1.5em;
    padding-bottom: 50px;
  }

  #headline-phone {
    font-size: 1.85em;
  }

  #headline-start-btn {
    margin-top: 20px !important;
  }

  #banner>ul>li:first-child {
    font-size: 1em;
    font-weight: lighter;
  }

  #banner>ul>li:nth-child(n + 2) {
    font-size: 1.3em;
    margin: 5px 0;
  }

  #banner>ul>li:nth-child(n + 3) {
    font-size: .8em;
    align-self: flex-end;
  }

  #banner>ul {
    margin: 0 auto !important;
    width: 90%;
  }

}


/* PROJECTS */
#projects {
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -8px;
  background-image: url("./images/bigStar.png");
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #243644;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#project-header {
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#project-header>div {
  flex: 1;
}

#project-title {
  font-size: 55px;
  padding-right: 40px;
  border-right: .5px solid white;
  color: #cc4c33;
}

#project-header-details {
  font-size: 30px;
  padding-left: 50px;
  border-left: .5px solid white;
  line-height: 25px;
}

#project-header-details>span {
  font-size: 15px;
}

/* PROJECT TILES */
#project-tiles {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tile1 {
  background: url(/images/sidewalk1.jpg);
  box-shadow: inset 0 0 0 2000px #cc4c33b9;
}

.project {
  margin: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  #projects {
    padding-bottom: 50px;
  }

  #project-header {
    flex-direction: column;
  }

  #projects {
    background-size: 80%;
  }

  #project-title {
    font-size: 45px;
    padding-right: 0px;
    border-right: none;
    border-bottom: 1px solid white;
    margin-top: 25px;
  }

  #project-header-details {
    font-size: 30px;
    padding-left: 0px;
    border-left: none;
    line-height: 25px;
  }

  #project-header-details>span {
    font-size: 15px;
  }

  #project-tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .project {
    margin: 5px;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
}

/* ABOUT */
#owner {
  position: absolute;
  left: 0;
}

#about-bottom-border {
  margin-left: -8px;
  margin-top: -8px;
  width: 100vw;
  z-index: -1;
}

#about {
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -8px;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/grittyBg.jpg");
}

@media only screen and (max-width:1840px) and (min-width:1024px) {
  #about-bottom-border {
    display: none;
  }
  #about {
    min-height: 1100px !important;
  }
}

.about-header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.about-title {
  font-size: 55px;
  color: #cc4c33;
  width: 200px !important;
}

.about-details {
  font-size: 25px;
  border-left: .5px solid white;
  line-height: 30px;
  height: 300px;
  padding-top: 25px;
  width: 750px !important;
  padding-left: 25px;
}


.about-call {
  color: white;
  font-size: 25px;
  width: 200px !important;
  text-align: right;
}

.about-call>span {
  color: #cc4c33;
  font-size: 37px;
}

.detail-lists {
  display: flex;
  width: 750px !important;
}

.detail-lists>ul {
  padding: 0;
}

#service {
  margin: 25px 0 25px 125px;
}

#service-header {
  color: #cc4c33;
  font-size: 20px;
  display: flex;
}

#service-lists {
  display: flex;
  font-size: 20px;
}

#service-lists>ul>li {
  margin: 5px 0;
}

.list-bullet {
  height: 12px;
  margin-right: 5px;
}


@media only screen and (max-width: 1024px) {
  .about-header {
    background-image: url("/images/grittyBg.jpg");
    flex-direction: column;
    width: 100vw;
    padding-bottom: 50px;
  }

  .about-title {
    font-size: 55px;
    color: #cc4c33;
    width: auto !important;
  }

  .about-details {
    border-top: .5px solid white;
    border-left: none;
    width: 95% !important;
    padding-left: 0;
  }

  #service {
    margin: 0;
    width: 95%;
  }

  .about-call {
    font-size: 20px;
    width: 95% !important;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid white;
  }

  .about-call>span {
    color: #cc4c33;
    font-size: 37px;
  }

  .detail-lists {
    display: flex;
    width: 750px !important;
  }

  .about-details {
    font-size: 25px;
    border-left: none;
    line-height: 30px;
    height: 300px;
    padding-top: 25px;
    width: 95% !important;
    padding-left: 25px;
    height: fit-content;
  }

  .detail-lists {
    display: flex;
    flex-direction: column;
    width: inherit !important;
  }

  .detail-lists>ul>li {
    list-style: disc;
  }
}

/* CONTACT */
#contact {
  background-image: url("./images/mapBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;

bottom: 0;
}

#contact>* {
  margin: 0 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 20px;
  width: 350px;
}

#form-header {
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  height: 45px;
  width: 275px;
  margin: 5px 0 5px 5px;
}

textarea {
  height: 100px;
}

#form-btn {
  border: 1px solid white;
  background-color: #cf5033;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 18px;
  margin: 15px auto 0 auto;
}

#contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 150px;
  font-size: 15px;;
}

#map-pin {
  width: 60px;
  margin-top: 110px;
}

#contact-num {
  letter-spacing: 5px;
  font-size: 50px;
  margin-top: 100px;
  font-weight: bolder;
}


@media only screen and (max-width: 1024px) {
  #contact {
    flex-direction: column;
    margin-top: -95px;
  }

  form {
    width: 95%;
    margin-top: 100px !important;
  }

  .input-container {
    flex-direction: column;
    align-items: center;
  }

  #contact-details {
  margin: 0 auto;
  padding-bottom: 45px;
  }

  #contact-num {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

  #map-pin {
    display: none;
  }
}
