*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


#splash-main {
  width: 100vw;
  height: 80vh;

  position: absolute;
  left: 0;
  top: 0;

  text-align: center;


  background-image: url("./images/constructBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#splash-red-triangle {
  width: 75px;
  margin: 0 auto;
}


#splash-headline > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0;
  color: white;
}

#splash-headline > ul > li > * {
  margin: 0;
}

#splash-star {
  width: 200px;
}

#headline {
  font-size: 55px;
  padding: 25px 0;
}

#headline-field {
  font-size: 35px;
  font-weight: lighter;
  padding-bottom: 75px;
}

#headline-phone {
  font-size: 45px;
  color: #cc4c33;
}

#headline-start-btn {
  border: solid 1px white;
  color: white;
  background-color: #243644;
  margin-top: 50px !important;
  padding: 15px;
  width: 200px;
  cursor: pointer;
}

li {
  list-style: none;
}
