*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

#splash-main {
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -8px;
  width: 100vw;
  text-align: center;
  background-image: url("./images/constructBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#splash-red-triangle {
  width: 75px;
  margin: 0 auto;
}


#splash-headline>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0;
  color: white;
  margin-bottom: 0;
}

#splash-headline>ul>li>* {
  margin: 0;
}

#splash-star {
  width: 200px;
}

#headline {
  font-size: 55px;
  padding: 25px 0;
}

#headline-field {
  font-size: 35px;
  font-weight: lighter;
  padding-bottom: 75px;
}

#headline-phone {
  font-size: 45px;
  color: #cc4c33;
}

#headline-start-btn {
  border: solid 1px white;
  color: white;
  background-color: #243644;
  margin-top: 10px !important;
  padding: 15px;
  width: 200px;
  cursor: pointer;
}

li {
  list-style: none;
}

#banner {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #cc4c33;
  margin-left: -8px;
  width: 100vw;
  min-height: 200px;
}


#banner>ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: white;
  margin: 0 auto;
  text-align: ceneter;
}

#banner>ul>li:first-child {
  font-size: 30px;
  font-weight: lighter;
}

#banner>ul>li:nth-child(n + 2) {
  font-size: 45px;
}

#banner>ul>li:nth-child(n + 3) {
  font-size: 25px;
  align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  #splash-red-triangle {
    width: 37.5px;
  }

  #splash-star {
    height: 100px;
  }

  #headline {
    font-size: 2em;
  }

  #headline-field {
    font-size: 1.5em;
    padding-bottom: 50px;
  }

  #headline-phone {
    font-size: 1.85em;
  }

  #headline-start-btn {
    margin-top: 20px !important;
  }

  #banner>ul>li:first-child {
    font-size: 1em;
    font-weight: lighter;
  }

  #banner>ul>li:nth-child(n + 2) {
    font-size: 1.3em;
    margin: 5px 0;
  }

  #banner>ul>li:nth-child(n + 3) {
    font-size: .8em;
    align-self: flex-end;
  }

  #banner>ul {
    margin: 0 auto !important;
    width: 90%;
  }

}


/* PROJECTS */
#projects {
  width: 100vw;
  min-height: 80vh !important;
  margin-left: -8px;
  margin-top: -8px;
  background-image: url("./images/bigStar.png");
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #243644;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}


#project-header {
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#project-header > div {
  flex: 1;
}

#project-title {
  font-size: 55px;
  padding-right: 40px;
  border-right: .5px solid white;
  color: #cc4c33;
}

#project-header-details {
  font-size: 30px;
  padding-left: 50px;
  border-left: .5px solid white;
  line-height: 25px;
}

#project-header-details > span {
  font-size: 15px;
}

/* PROJECT TILES */
#project-tiles {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tile1 {
  background: url(/images/sidewalk1.jpg);
  box-shadow: inset 0 0 0 2000px #cc4c33b9;
}
.project {
  margin: 5px;
  height:200px;
  width: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {

  #project-header {
    flex-direction: column;
    /* background-color: gray; */
    margin: 0 15px;
  }
  #projects {
    background-size: 80%;
  }

  #project-title {
    font-size: 45px;
    padding-right: 0px;
    border-right:  none;
    border-bottom: 1px solid white;
    margin-top: 25px;
  }

  #project-header-details {
    font-size: 30px;
    padding-left: 0px;
    border-left: none;
    line-height: 25px;
  }

  #project-header-details > span {
    font-size: 15px;
  }

}
